<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="WestWindTest"
           connectionString="Test"
           providerName="System.Data.SqlClient"/>
      <add name="WestWind" 
         connectionString="server=.\SQLExpress;database=SubSonic;integrated security=true;" 
         providerName="System.Data.SqlClient"/>
      <add name="Northwind"
        connectionString="server=.\SQLExpress;database=Northwind;integrated security=true;"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
        <clear />
      <add name="MySQL Data Provider" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
      <add name="SQLite Data Provider" description=".Net Framework Data Provider for SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
        <add name="SqlClient Data Provider"
             invariant="System.Data.SqlClient"
             description=".Net Framework Data Provider for SqlServer"
             type="System.Data.SqlClient.SqlClientFactory, System.Data, 
             Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    />    </DbProviderFactories>
  </system.data>
</configuration>
