<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- SQL Server -->
    <add name="Northwind" providerName="System.Data.SqlClient" connectionString="server=.\SQLExpress;Integrated Security=true;database=SubSonic;"/>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" providerName="System.Data.SqlClient" connectionString="server=\SQLExpress;Integrated Security=true;database=AdventureWorks;"/>
    <add name="AdWorks" providerName="System.Data.SqlClient" connectionString="server=SQL2005;Integrated Security=true;database=AdventureWorksLT;"/>
    <!-- SQL Server CE -->
    <add name="NorthwindSqlCe" providerName="System.Data.SqlServerCe.3.5" connectionString="Data Source=C:\Program Files\Microsoft SQL Server Compact Edition\v3.5\Samples\northwind.sdf"/>
    <!-- MySql -->
    <add name="NorthwindMySql" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user id=root;pwd=;database=SubSonic;"/>
    <!-- PostgreSQL -->
    <add name="PostgreSQL" providerName="Npgsql" connectionString="HOST=localhost;DATABASE=Northwind;USER ID=postgres;PASSWORD=postgres;ENLIST=true"/>
  </connectionStrings>
</configuration>